a {
	color: var(--color-gray);
	transition-property: color;
	@include transition-out;
	&:hover {
		color: var(--color-black);
		transition-property: color;
		@include transition-in;
	}
}
.start {
	height: 12rem;
	overflow: hidden;
	padding: 0 var(--grid-sides);
	position: relative;
	@media (max-width: 760px) {
		margin-top: 1em;
	}
	.block-first {
		pointer-events: auto;
	}
	.block-second {
		display: none;
		pointer-events: none;
	}
	&.hidden {
		.block-first {
			display: none;
			pointer-events: none;
		}
		.block-second {
			display: flex;
			opacity: 1;
			@include transition-in;
			transition-property: opacity;
			pointer-events: auto;
		}
	}
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	> h3 {
		font-size: 1.6rem;
		font-weight: 500;
		margin-bottom: var(--objects-indents1);
		@media (max-width: 760px) {
			font-size: 1.1em;
		}
	}
}
.wrapper.block-second {
	// display: flex;
	align-items: flex-start;
	@media (max-width: 760px) {
		flex-direction: column;
	}
	section.console {
		width: calc(50% - var(--grid-gutter) / 2);
		margin-right: var(--grid-gutter);
		@media (max-width: 760px) {
			width: 100%;
			margin-right: 0;
		}
	}
	section.telegram-window {
		width: calc(50% - var(--grid-gutter) / 2);
		@media (max-width: 760px) {
			display: none;
		}
	}
}
