.manual-test.modal-body {
	width: 100vw;
	height: 100vh;
	background: #0000007d;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--grid-sides);
	opacity: 0;
	pointer-events: none;
	z-index: 999;


	.wrapper {
		background: var(--color-white);
		max-width: 680px;		@media (max-width: 760px) {
			min-width: 100%;
		}
		border-radius: var(--radius1);
		box-shadow: var(--box-shadow-modal);
		overflow: hidden;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin-bottom: var(--objects-indents2);
		background: var(--color-background);
		color: var(--color-text);

		&:after {
			content: "";
			display: block;
			width: 100%;
			left: 0;
			bottom: 0;
			height: 1px;
			position: absolute;
			background: var(--color-borders);
		}
		h4 {
			font-size: 1.3rem;
			margin: 0 var(--objects-indents2);
			@media (max-width: 760px) {
				margin: var(--objects-indents1) var(--grid-gutter);
				font-size: 0.95em;
				line-height: 1.3;
			}
			font-weight: 500;	
		}
		.modal-close {
			margin-left: var(--objects-indents2);
			color: var(--color-orange);
			height: 3.5em;
			width: 3.5em;
			background: var(--color-white);
			border-left: var(--borders-cards);
			@media (max-width: 760px) {
				border-bottom-left-radius: var(--radius1);
			}
			display: flex;
			justify-content: center;
			align-items: stretch;
			svg {
				margin-right: 0;
				width: auto;
				padding: 1.1em;
			}
			&:hover {
				color: var(--color-orange2);
				svg {
					padding: 0.95em;
				}
			}
		}
	}
	.content {
		.input-block {
			padding: 0 var(--objects-indents2);
			@media (max-width: 760px) {
				padding: 0 var(--grid-gutter);
			}
			display: flex;
			flex-direction: column;
			>* {
				font-weight: 400;
				margin-bottom: 1em;
				background: var(--color-background);
				padding: 0.5em 0.7em;
				color: var(--color-text);
				border: 2px solid var(--color-background);
				@include transition-out;
				transition-property: border;
				border-radius: var(--radius2);
				&:last-child {
					margin-bottom: 0;
				}
				&:focus {
					border: 2px solid var(--color-borders);
					@include transition-in;
					transition-property: border;
				}
				&::placeholder {
					color: var(--color-placeholder);
				}
			}
		}
		.buttons-block {
			display: flex;
			justify-content: flex-start;
			align-items: stretch;
			width: 100%;
			margin-top: var(--objects-indents2);
			button {
				flex: 0 1 auto;
				box-sizing: inset;
				height: 100%;
				
				@media (max-width: 760px) {
					min-height: 4em;
					svg {
						flex: 0 0 12px;
					}
				}
				padding: var(--objects-indents1) 2em;
				border-top: var(--borders-cards);
				border-left: none;
				border-top-left-radius: 0;
				border-bottom-right-radius: 0;
				border-right: var(--borders-cards);
				border-top-right-radius: var(--radius1);
				border-bottom-left-radius: 0;
				background: var(--color-background);
				&:hover {
					background-color: var(--color-borders);
				}
				&:first-child {
					border-bottom-left-radius: var(--radius1);
					border-top-right-radius: 0;
				}
			}
		}
		textarea {
			max-width: 100%;
			min-width: 506px;
			max-height: 50vh;
			min-height: 10em;
	  }
	}
}

&.modal {
	overflow: hidden;
	user-select: none;
	.block-first, .block-second {
		pointer-events: none;
	}
	.manual-test.modal-body {
		opacity: 1;
		user-select: text;
		pointer-events: auto;
	}
}