.added-tests {
	ul {
		margin-top: 0.2em;
		margin-left: 1.2em;
		li {
			display: flex;
			position: relative;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			&:before {
				content: "•";
				position: absolute;
				left: -1.05em;
				top: -0.25em;
			}
		}
		.tasks__task {
			.task__text,
			.step__text,
			.title {
				color: var(--color-gray);
				flex: 0 1 calc(100% - 4rem);
				font-size: 0.95rem;
				text-align: left;
				position: relative;
				border: 1px solid #fff0;
				border-radius: 2px;
				font-weight: 500;
				cursor: default;
				pointer-events: none;
			}
			.step__text {
				margin-top: -1.5em;
				opacity: 0;
				font-weight: 300;
				display: none;
			}
			.task__btn {
				position: absolute;
				display: flex;
				align-items: stretch;
				justify-content: flex-end;
				align-content: center;
				height: 1.2em;
				right: 0;
				top: 0;
				button {
					color: var(--color-orange);
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 0;
					margin-left: 0.25em;
					padding: 0.25em;
					svg {
						margin-right: 0;
						max-height: 100%;
					}
				}
				.btn-delete {
					display: none;
				}
				.btn-save {
					display: none;
				}
			}
			&.active {
				.task__text,
				.step__text,
				.title {
					pointer-events: auto;
					cursor: text;
				}

				.title {
					border: 1px solid var(--color-borders);
				}
				.step__text {
					border: 1px solid var(--color-borders);
					margin-top: 0.25em;
					opacity: 1;
					display: block;
				}
				.task__btn {
					.btn-delete {
						display: flex;
					}
					.btn-save {
						display: flex;
					}
					.btn-edit {
						display: none;
					}
				}
			}
		}
	}

	// div[contenteditable] {
	// 	height: 2rem;
	// }
	// p[contenteditable] {
	// 	height: 1rem;
	// }
}
